.success-message {
    color: white;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.error-message {
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}
